- content_for :head do
  = stylesheet_link_tag "petal_theme/icons", :media => "all"
- content_for :content do
  .container-md
    .row
      .col
        = yield
= render template: 'layouts/petal_theme/application'