-# %img{src: image_path("petal_theme/user-solid.svg"), height: "16", width: "16"}
%a.btn{href: "#"}
  <i class="fa fa-fw fa-user"></i>
  %span.username username
%span.logout
  %form
    %button.btn
      Log Out