- @theme_session_content ||= content_for?(:session_content) ? yield(:session_content) : nil
#top-row{class: @theme_session_content ? "session" : ""}
  #masthead-content
    #logo
    #text
      #title
        %a(href="/") Calyx Institute
      #subtitle
        Privacy By Design For Everyone
    - if @theme_session_content
      #session
        = @theme_session_content
- if @theme_top_tabs&.present?
  #bottom-row
    = render 'layouts/petal_theme/top_nav_tabs'
