:ruby
  def menu_link(path, label=nil)
    active = ''
    url = path
    label ||= path.titleize
    active = 'active' if @theme_active_tab == path
    content_tag :li, class: "nav-item #{active}" do
      link_to label, url, class: "nav-link #{active}"
    end
  end
.navbar.navbar-expand-sm
  %input#navbar-toggle-cbox(type="checkbox" style="display: none")
  %label.navbar-toggler(for="navbar-toggle-cbox" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header")
    &#9776;
  -# .span.d-block.d-sm-none
    %ul.navbar-nav
      = menu_link('/', 'Home')
  #navbar-header.collapse.navbar-collapse.navbar-toggleable-sm.d-sm-none.justify-content-md-center
    %ul.navbar-nav
      - @theme_top_tabs.each do |section|
        = menu_link(section[0], section[1])
