!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %title
      - if @theme_title
        = @theme_title
      - else
        - site_name = @theme_site_name || request.domain
        - if controller_name != "root"
          = "%s - %s" % [controller_name.titleize, site_name]
        - else
          = site_name
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "petal_theme/application", :media => "all"
    %link(rel="icon" type="image/png" href="#{image_path("petal_theme/favicon.png")}")
    = yield :head
  %body
    %header
      = render 'layouts/petal_theme/masthead'
    %main
      = content_for?(:content) ? yield(:content) : yield
    %footer
      = render 'layouts/petal_theme/footer'
