@use "sass:color";

header {
  .navbar-toggler {
    color: white;
    margin: 0;
    padding: 0.5em;
  }
  .navbar {
    padding: 0 1em;
  }
  #navbar-toggle-cbox:checked ~ .collapse {
    display:block;
  }
  .nav-link {
    color: white;
    padding: 0.5em 1em !important;
  }
  .nav-link.active {
    color: black;
    background-color: white;
  }
  #navbar-header {
    background-color: $nav-bar-bg-color;
    z-index: 1000;
  }
}

header {
  #bottom-row {
    background-color: $nav-bar-bg-color;
  }
  #top-row {
    background-color: $masthead-bg-color;
    #masthead-content {
      max-width: 700px;
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-wrap: wrap-reverse;
      margin-left: auto;
      margin-right: auto;
      #logo {
        background-image: asset-url("petal_theme/lightning-fist.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 117px;
        width: 200px;
        margin-top: 20px;
        flex-shrink: 0;
      }
      #text {
        font-family: Roboto;
        margin-left: 20px;
        #title {
          a {
            color: #fff1a8;
            text-decoration: none;
            text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
          }
          white-space: nowrap;
          font-size: 50pt;
        }
        #subtitle {
          font-size: 14pt;
          color: #fff;
          margin-top: -16px;
          margin-left: 4px;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  header {
    #logo {
      height: 59px !important;
      width: 100px !important;
    }
    #text {
      margin-left: 10px !important;
    }
    #title {
      font-size: 30pt !important;
    }
    #subtitle {
      font-size: 9pt !important;
      margin-top: -10px !important;
    }
  }
}

#top-row.session {
  #masthead-content {
    margin-left: 10px !important;
    max-width: 100% !important;
  }
  #logo {
    height: 59px !important;
    width: 100px !important;
  }
  #text {
    margin-left: 10px !important;
  }
  #title {
    font-size: 30pt !important;
  }
  #subtitle {
    font-size: 9pt !important;
    margin-top: -10px !important;
  }
}

$session_btn_color: rgba(0,0,0,0.3);
$session_btn_bg_color: rgba(0,0,0,0.1);

#session {
  margin-left: auto;
  padding: 10px;
  color: white;
  a {
    color: white;
  }
  a:hover {
    background-color: $session_btn_bg_color;
    border: 1px solid $session_btn_color;
  }
  .logout form {
    display: inline;
    button {
      color:white;
    }
    button:hover {
      background-color: $session_btn_bg_color;
      border: 1px solid $session_btn_color;
    }
  }
}
