@import "petal_theme/fonts";
@import "petal_theme/variables";
@import "bootstrap";
@import "petal_theme/footer";
@import "petal_theme/header";
@import "petal_theme/forms";

body {
  background-color: $background-color;
}
main {
  padding-top: $top-content-gap;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}
h1.title {
  margin-bottom: 0.5em;
}

// assume black icons
// https://codepen.io/sosuke/pen/Pjoqqp
.filter-grey {
  filter: invert(50%);
}

#sidebar .nav {
  a.nav-link {
    color: $sidebar-color;
    &.active {
      color: white;
      background-color: $sidebar-color;
    }
    &:hover {
      color: white;
      background-color: $sidebar-color;
      opacity: 0.7;
    }
  }
}

//
// Some minimal code styling
//

code {
  color: #eee;
  background-color: #666;
  padding: 4px;
  overflow-wrap: anywhere;
}

pre {
  display: block;
  padding: 1rem;
  background-color: #404040;
  white-space: pre-wrap;
  code {
    background-color: transparent;
    color: #eee;
    padding: 0;
    line-height: 1.3em;
  }
}