@import "petal_theme/theme";

$nav-indent: 20px;

.h-250 { height: 250px; }

.dateline {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
}

.bg-gray {background-color: #f6f6f6;}

.btn-wide {width: 100%;}

#column-left {
  a.nav-link {
    &.level-1 {margin-left: 0px;}
    &.level-2 {margin-left: $nav-indent * 1;}
    &.level-3 {margin-left: $nav-indent * 2;}
    &.level-4 {margin-left: $nav-indent * 3;}
  }
  .btn {
    margin-top: 10px;
    display: block;
  }
}

.posts {
  .post {
    h4 { color: #333; }
    margin-bottom: 2em;
  }
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  color: #666;
}

.sub-text {
  color: #666;
  font-size: 90%;
}

#center-content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.search {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.home-jumbo {
  background-color: white;
  padding: 0;
}

.home-callout {
  border: 1px solid $primary;
}