/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@import 'variables';

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: $fa-font-display;
  src: url(asset-path('fa-solid-900.eot'));
  src: url(asset-path('fa-solid-900.eot?#iefix')) format('embedded-opentype'),
  url(asset-path('fa-solid-900.woff2')) format('woff2'),
  url(asset-path('fa-solid-900.woff')) format('woff'),
  url(asset-path('fa-solid-900.tff')) format('truetype'),
  url(asset-path('fa-solid-900.svg#fontawesome')) format('svg');
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
